<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Node.js Workshop – TODO List</title>
    <style>
        .tabletest2 {
            border-collapse: collapse;
            font-size: 15px;
            margin-bottom: 40px;
            margin-top: 20px;
            width: 100%;
        }

        .tabletest2, .tabletest2 th, .tabletest2 td {
            border-bottom: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
<h4><a href="/">Home</a> | <a href="/create">Create New TODO</a> | <a href="/all">View All TODOs</a></h4>


